---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/navbar/index.jsx";
import Intro from "../components/sections/intro.astro";
import About from "../components/sections/about.astro";
import Skills from "../components/sections/skills.astro";
import Projects from "../components/sections/projects.astro";
---

<Layout title="Shardul Sisodiya">
    <Navbar client:only />
  <main>
    <Intro />
    <About />
    <Skills />
    <Projects />
  </main>
</Layout>
<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

  * {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all ease 1s;
  }

  :root {
    --primary-color: #be3144;
    --primary-color-subtle: #e35164;
    --secondary-color: #f0f0f0;
    --secondary-color-subtle: grey;
    --tertiary-color: #303841;
  }

  li {
    list-style: none;
  }

  .color-primary {
    color: var(--primary-color);
  }

  .flex {
    display: flex;
  }

  @media (width < 750px) {
    .flex {
      flex-direction: column;
    }
  }

  .flex-column {
    display: flex;
    flex-direction: column;
  }

  .flex-grow {
    flex-grow: 1;
  }

  .flex-wrap {
    flex-wrap: wrap;
  }

  .justify-space-around {
    justify-content: space-around;
  }

  .justify-space-between {
    justify-content: space-between;
  }

  .justify-center {
    justify-content: center;
  }

  .align-center {
    align-items: center;
  }

  .gap-5 {
    gap: 5rem;
  }

  .py-5 {
    padding: 5rem 0;
  }

  .button-link {
    display: inline-block;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
  }

  .mt-5 {
    margin: 5rem 0 0 0;
  }
</style>
