---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/navbar/intro.jsx';
---

<Layout title="Shardul Sisodiya">
	<Navbar client:only />
	<main>Hello</main>
</Layout>
<style is:global>

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: all ease 1s;
}

:root {
	--primary-color: #BE3144;
	--secondary-color: #F0F0F0;
	--tertiary-color: #303841;
}

</style>