nav div {
  font-size: 2rem;
  color: var(--primary-color);
}

nav,
ul {
  display: flex;
}

nav {
  justify-content: space-around;
  height: 15vh;
  align-items: center;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

ul {
  gap: 2rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--tertiary-color);
  font-size: 1.25rem;
}

a:hover {
  text-decoration: underline;
  color: var(--primary-color);
  text-underline-offset: 10px;
}
