.hamburger {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 25px;
}

.bar {
  display: inline-block;
  width: 24px;
  height: 3px;
  background-color: var(--primary-color);
  border-radius: 2px;
}

.open .bar:first-child {
  position: absolute;
  transform: rotate(45deg);
  top: 15px;
}

.open .bar:nth-child(2) {
  display: none;
}

.open .bar:last-child {
  position: absolute;
  transform: rotate(-45deg);
  top: 15px;
}
