---
import Section from "./section.astro";
import SectionHeading from "./section-heading.astro";
import SectionContent from "./section-content.astro";
---

<Section>
    <SectionHeading subHeading="Let me tell you a little" mainHeading="About Myself" />
    <SectionContent>
        Hello
    </SectionContent>
</Section>