---
import Section from "./section.astro";
import { Image } from "astro:assets";
import MyImage from '../images/self-color.png'
---
<style>

.self-pic {
    width: 25vw;
    height: 25vw;
    min-width: 150px;
    min-height: 150px;
    max-width: 250px;
    max-height: 250px;
}

.intro {
    display: flex;
    flex-direction: column;
    font-size: x-large;
}

</style>

<Section class="intro-section">
    <Image src={MyImage} alt="web developer" class="self-pic"/>
    <div class="intro">
        Hey, I am Shardul, <span class="color-primary">a web developer</span>
    </div>
</Section>