---
import Section from "./section.astro";
import { Image } from "astro:assets";
import MyImage from '../images/website-builder.svg'
---

<Section class="intro-section">
    <div>
        Hey, I am Shardul, <span>a web developer</span>
    </div>
    <Image src={MyImage} alt="web developer" />
</Section>